@import url('circle.css');
/* CSS Document */
/* centered columns styles */

body{ /* font-size: 14px; */    font-size: 1em;color:#111;
	font-family: Arial!important; 
	
}
body,html{
  overflow: hidden !important; 
}
a:focus { 
 outline: none; 
}
h1, h2, h3,h4,h5, h6{color: rgb(17, 17, 17);}
.padd0{padding:0px}
.padd10{padding:10px}
.paddTop10{padding-top:10px}
.paddBottom10{padding-bottom:10px}
.paddLeft10{padding-left:10px}
.paddRight10{padding-right:10px}
.margin0{margin:0px}
.margin10{margin:10px}
.marginTop10{margin-top:10px}
.marginBottom10{margin-bottom:10px}

.displayNone,.hide{display:none}
.displayBlock,.show{display:none}
.displayFlex{display: flex;}
.bold{font-weight:bold}
.blue,a.blue{color:#2f53e5}
.black,a.black{color:#111}
.orange,a.orange{color:#ff3407;}
.underLine,.underline, a.underLine,a{    text-decoration:underline!important}
ul li.blue{}
.bdrNone{border:none!important}
.bdrLeftNone{border-left:none!important}
.bdrRightNone{border-right:none!important}
.bdrTopNone{border-top:none!important}
.bdrBottomNone{border-bottom:none!important}
.bdrBlue{border:1px solid #2f53e5!important}
.bgNone{ background:transparent!important}

.cursorNone{pointer-events: none;}
.cursorDefault{pointer-events: auto;}
.cursorPointer,.pointer{cursor:pointer}
   /* Style the header with a grey background and some padding */
.header ,.headerIntro{    
height:60px;line-height:35px;
  overflow: hidden;
  background-color: #fff;
  padding: 0px 5px 2px 5px;border-bottom: solid thin #efe8e8;margin-bottom:0px;
}
.footer { height: 10px;}
/* Style the header links */


/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */

.header a.logo img,.headerIntro  a.logo img{
max-width: 100%;
height: 60px;}


/* Float the link section to the right */
.header-right {float: right;line-height:35px;}
.header-right{}
.header-right .nav{padding: 0px 20px;}
.header-right .nav li{ padding: 15px 0px;cursor:pointer; height: 60px;line-height: 30px;      width: 50px;text-align: center;margin: 0px 5px;display: inline-block;}
.header-right a{color:#111;}
.header-right img,.header-right .nav li img{width: 25px;height: 25px;margin: 0px 12px;vertical-align:middle}
.header-right .nav li ul.topic li{ width: 100%;  min-height: 35px;line-height: 30px; height: auto;  background: #58595d;text-align: left;    display: block;cursor:pointer; margin: 0px 0px;padding:5px 10px;list-style:none;border-bottom:solid thin #909090} 

.header-right .nav li ul.gn-menu{display:none;position:absolute;right:10px;    position: absolute;
border-radius: 0px 0px 0px 5px;z-index: 2;right: 0px;top: 60px;color: #fff;  background: #58595d;width: 220px;max-height:400px; margin: 0px;padding: 0px;z-index: 6;  font-size: .9rem;} 
.header-right .nav li ul.gn-menu li{ width: 100%; min-height: 35px;line-height: 18px; height: auto; 
 text-align: left;    display: block;margin: 0px 0px;padding:5px 10px;list-style:none;border-top:solid thin #909090} 
 .header-right .nav li ul.gn-menu li:last-child,.li:last-child{border-top:none!important}
 .header-right .nav li ul.gn-menu li:hover,.header-right .nav li ul.gn-menu li.active{background: #cecece;color: #2f53e5;}
 
 .header-right .nav li ul.sub-menu{border-radius: 0px 0px 0px 0px!important;      background: #818286!important;    font-size: .83rem;}
.header-right .nav li ul.sub-menu li{cursor:pointer;width: 100%;  min-height: 20px;height: auto;line-height: 18px; background: #818286!important;  text-align: left; display: block;margin: 0px 0px;    padding: 1px 5px 1px 10px;list-style:none;border-top:solid thin #909090}
.header-right .nav li ul.sub-menu li:last-child,li:last-child{border-top:none!important}
.header-right .nav li ul.sub-menu li:hover,.header-right .nav li ul.sub-menu li.active{ background: #a8adc1!important;color: #2f53e5!important;    border-color: #a8adc1;}
	
  /* Start into css */ 
.introDiv{width: 100%;position:relative;height:auto}
.introBgImg{
   background-image: url('../media/images/intro.png');
  /*
  background-attachment: fixed;
  background-size: cover;
  width: 100%; */  
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 610px;width: 100%;position: relative;z-index:1;
  }

/* .introImg{
  max-width:100%;
  width:100%;
  height:auto;
  } */
 .introContent{ 
  width: 100%;
    position: absolute;
    bottom: 0px;
    right: 0%;
    padding-bottom: 5%;z-index:2;}
  .introContent .introPara{   
   padding: 20px 10px;
    background: #ffffffe6;
  /*   font-size: 48px; */font-size: 2.5em;
    text-align: center;
    font-weight: bold;
    color: #111;
    margin-bottom: 3%;}
  .introContent .launchText{text-align: right;}
   .introContent .launchText a{cursor:pointer}
  .introContent .launchText img{ width: 130px;}
  /* end into css */ 
  /* Start slider css */
 .sliderMainDiv{}
 .containMainDiv{padding:0px 15px}
 .containDiv{position:relative;}
 
 .containDiv .back,.containDiv .next{position:absolute;z-index:4;}
 .containDiv .back{left:0px}
 .containDiv .next{right:0px}
 .containDiv .back img,.containDiv .next img{width: 30px;cursor: pointer;}
 .containDiv .iframe {width:100%;    padding-top: 20px;}
 /* End slider css */
 
 
 /* Start Page  css */
  
 .title{   min-height:40px; 
  background: #fff;
  width: 100%;
  position: relative;
  color:#fff;
  font-family: Arial!important; 
  /*  font-size:22px;  */  
  font-size:1.2em; 
  padding: 0px 10px;
   line-height: 20px;text-align:left;  
	 background: rgba(47,83,229,1);
	background: -moz-linear-gradient(left, rgba(47,83,229,1) 20%, rgba(255,255,255,1) 67%, rgba(255,255,255,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(20%, rgba(47,83,229,1)), color-stop(67%, rgba(255,255,255,1)), color-stop(100%, rgba(255,255,255,1)));
	background: -webkit-linear-gradient(left, rgba(47,83,229,1) 20%, rgba(255,255,255,1) 67%, rgba(255,255,255,1) 100%);
	background: -o-linear-gradient(left, rgba(47,83,229,1) 20%, rgba(255,255,255,1) 67%, rgba(255,255,255,1) 100%);
	background: -ms-linear-gradient(left, rgba(47,83,229,1) 20%, rgba(255,255,255,1) 67%, rgba(255,255,255,1) 100%);
	background: linear-gradient(to right, rgba(47,83,229,1) 20%, rgba(255,255,255,1) 67%, rgba(255,255,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2f53e5', endColorstr='#ffffff', GradientType=1 ); 
  } 
 .skew{ display:inline-block;
   min-height:40px;
	 padding: 10px 1px;
    line-height: 20px;
    text-align: left;
    margin-right: 5px;
	 -moz-transform: skew(-25deg, 0deg);
	-webkit-transform: skew(-25deg, 0deg);
	-o-transform: skew(-25deg, 0deg);
	-ms-transform: skew(-25deg, 0deg);
	transform: skew(-25deg, 0deg);
	} 
  

.skew span{ position:absolute;    top: 8px;
    display: block;
	padding: 0px 10px;
	-moz-transform: skew(25deg, 0deg);
	-webkit-transform: skew(25deg, 0deg);
	-o-transform: skew(25deg, 0deg);
	-ms-transform: skew(25deg, 0deg);
	transform: skew(25deg, 0deg);
  }
  .titleLine{ background: #2f53e5;width:90%}  
  .titleLine1{background: #5775ef;width:5px}
   .titleLine2{background:#849bfb;width:5px}
   .titleLine3{background: #9faffd;width:5px}

  .contentBg{padding:20px 0px 20px 0px; margin: 0px 0px;}
 .contentDiv,.contentImgDiv,.contentLeftDiv{overflow-y:auto;padding:10px;border:1px solid #2f53e5;border-top:10px solid #2f53e5;}
   .contentBg p, .contentDiv p,.contentImgDiv p,.contentLeftDiv p,.contentBdrNone p,p{ margin-bottom: 0rem;}
  .contentBdrNone{border:none!important}
  .popupBg{overflow-y:auto;border:1px solid #2f53e5;border-left:10px solid #2f53e5;}	
	
 .contentDiv{min-height:360px;height:auto;}
 .contentLeftDiv{min-height:200px;height:auto;}
 .contentWithOutBdr{overflow-y:auto;padding:10px;min-height:80px;height:20%;    border:none;border-top:none;}
 .popupBg{ width: 80%; padding:10px; margin: 20px auto;min-height:180px;height:   auto;}
 .contentImgDiv{min-height:60px;height:auto}	
 .popupImgBg{  width: 80%; padding:0px;  text-align:center;margin: 10px auto;   min-height:160px;height:auto;}
 .popupImgBg img,.popupImgBg .imgBottom{ border:1px solid #2f53e5;text-align:center;border-left:10px solid #2f53e5;width: 60%;}

 .popupImgRightBg{ width:50%;display:inline-block;text-align:center; margin: 0px auto;min-height:160px;height:auto;}
 .popupImgRightBg img,.popupImgRightBg .imgRight,.imgRight{ text-align:center;    width:85%; max-width:100%;height:auto;}
 .popupVideoBg{ width: 100%; padding:0px;  text-align:center;margin: 10px auto;   min-height:160px;height:auto;}
  .popupVideoBg video { width:600px;max-width: 100%;height: auto;}


 /*Start  MCQ Quiz  css */

.quizContentDetail{height:100%; padding: 0px 5px 10px 5px;}
.quizContentDetail .ques-block{  min-height: 360px;height: auto; position: relative;overflow-y: auto;}
.quizContentDetail .instruction{color:#2f53e5;font-size: 1.0em;padding-right:20px ;font-style: italic;    padding-left: 5px;}
.quizContentDetail .quesBg{padding: 0px 10px 5px 0px;width:100%;height:auto;overflow:hidden;font-size: 1.1em; color: #111;}
.quizContentDetail .quesBg .quesNo { padding: 0px;   }
.quizContentDetail .quesBg .quesTxt{padding:0px 0px 0px 0px;  height: 100px;overflow-y: auto;overflow-x: hidden;}
.quizContentDetail .quesBg .quesContentDiv{width:100%;overflow-x:hidden;}
.quizContentDetail .quesQuizType { padding-top: 0px; min-height: 360px;height: auto; overflow-y: auto;}
.quizContentDetail .quesBg {padding: 5px 0px 5px 0px;}
.quizContentDetail .quesQuizType .quesContentDiv130{width:100%;height: 130px;overflow-y: auto;padding-top:5px;}
.quizContentDetail .ansBg{padding: 10px 10px 10px 10px;height:220px;overflow: hidden;}
.quizContentDetail .ansBg .mcqAnsDiv{width:100%; font-size: 1.0em;}
.quizContentDetail .ansBg .mcqAnsDiv .mcqAns{padding:2px 0px;min-height: 50px; height: auto;     line-height: 18px}
.quizContentDetail .ansBg .mcqAnsDiv .checkBox {display: inline-block;padding:0px 2px;min-height: 50px; height: auto;    line-height: 18px}
/*.quizContentDetail .ansBg .mcqAnsDiv .checkBox .chk{display: none;}*/
.quizContentDetail .ansBg .mcqAnsDiv .checkBox label {
  /*  padding: 6px 20px 6px 10px; */    padding: 0px 10px;
    border-radius: 3px;line-height:18px;
    display: inline-block;
    margin-top: 0px;border: 2px solid #fff;
    position: relative;top: -4px;font-size: 17px;color:#111;
}
.quizContentDetail .ansBg .mcqAnsDiv .ans-label {
  /*  width: 20px;
    height: 20px;*/
}
.quizContentDetail .ansBg .mcqAnsDiv .checkBox label:hover{
cursor:pointer;
}
.quizContentDetail .ansBg .mcqAnsDiv .checkBox label.checked {
}
.quizContentDetail .ansBg .mcqAnsDiv .checkBox label.unchecked:after{
	content: '';
	font-size: 34px;
position: absolute;
top: -7px;
left: 20px;
	color: #f15a22;
}
.quizContentDetail .ansBg .mcqAnsDiv .checkBox label.checked:after {
top: 14px;
    left: 21px;
    color: #f15a22;
}
/*.quizContentDetail .ansBg .mcqAnsDiv .checkBox label:last-child.checked:after {

top: -8px;

}*/
.quizContentDetail .ansBg .mcqAnsDiv .ansContent{display: inline;padding:0px 2px;    font-size: 15px;}

.quizContentDetail .btnBg .btn,.quizContentDetail .btnBg .btnImg{width:120px;cursor: pointer;}

.quizContentDetail input[type=checkbox], .quizContentDetail input[type=radio] {
    box-sizing: border-box;
    padding: 10px;width:20px;height:20px;
}

 
.msgDivId {
    float: left;
    width: 100%;
    text-align: center;
    height: 50%;
    position: relative;
    vertical-align: bottom;
    padding-top: 0%;
    padding-top: 20px;
}
.msgDivId h1 {
    color: #EB4F5E;
    font-weight: bold;
    font-size: 45px;
}
.msgDivId p {
    color: #EB4F5E;
    font-size: 18px;
}
.quizBg .resultTitle {
    Padding: 20px;
    height: 14%;
    font-size: 25px;
    font-weight: bold;
    overflow: hidden;
    color: #656464;
}
.quizBg .btnSubmit {
    margin: 10px 5px;
    padding: 6px 40px;
    border-bottom-color: #EB4F5E;
    border-bottom-width: 2px;
    border-radius: 5px;
    background-color: #242e3a;
    border-bottom: solid 2px #EB4F5E;
    font-size: 15px;
    color: #fff !important;width: 40%;
}

 .quizBg .score{    height: 100px;
width: 120px;
margin: 0px auto;
text-align: center;}
.score .c100 {
    position: relative;
    font-size: 120px;
   width: 1.0em;
height: 1.0em;
    border-radius: 50%;
    float: left;
    margin: 0 0.2em 0.2em 0;
    background-color: #cccccc;
}
.score .c100 > span {
 width: 2.4em !important;
line-height: 2.5em !important;
  color:#111;
   font-size: 0em;
   font-size:50px;!important;
}
.score .c100 > span .resultId {
    color:#111;
   font-size: 0em;
   font-size:50px;!important;

}
.score .c100 > span .perId{
line-height: 5.5em !important;
font-size: 0em;
font-size: 19px!important;color: #666;}
.score .c100.orange .bar, .score .c100.orange .fill {
    border-color: #EB4F5E !important;
}

 
.btn{background:#751257;color:#fff}
 /* ======= End MCQ Quiz  css==========*/
/*=== Trigger  ===*/
.animate {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-delay: 0s;
-moz-animation-delay: 0s;
animation-delay: 0s;
}

  
/*=== Optional Delays, change values here  ===*/
.one {
-webkit-animation-delay: 0.5s;
-moz-animation-delay: 0.5s;
animation-delay: 0.5s;
}

.two {
-webkit-animation-delay: 1.5s;
-moz-animation-delay: 1.5s;
animation-delay: 1.5s;
}

.three {
-webkit-animation-delay: 2.5s;
-moz-animation-delay: 2.5s;
animation-delay: 2.5s;
}

.four {
-webkit-animation-delay: 3.5s;
-moz-animation-delay: 3.5s;
animation-delay: 3.5s;
}

.five {
-webkit-animation-delay: 4.5s;
-moz-animation-delay: 4.5s;
animation-delay: 4.5s;
}

.six {
-webkit-animation-delay: 5.5s;
-moz-animation-delay: 5.5s;
animation-delay: 5.5s;
}

.seven {
-webkit-animation-delay: 6.5s;
-moz-animation-delay: 6.5s;
animation-delay: 6.5s;
}

.eight {
-webkit-animation-delay: 7.5s;
-moz-animation-delay: 7.5s;
animation-delay: 7.5s;
}



/*=== Animations start here  ===*/

/*==== FADE IN UP ===*/
@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}


/*=== FADE IN DOWN ===*/
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
 }
@-webkit-keyframes fadeInDown {
0% {
	opacity: 0;
	-webkit-transform: translate3d(0, -100%, 0);
	transform: translate3d(0, -100%, 0);
}
100% {
	opacity: 1;
	-webkit-transform: none;
	transform: none;
}
}
@keyframes fadeInDown {
0% {
	opacity: 0;
	-webkit-transform: translate3d(0, -100%, 0);
	transform: translate3d(0, -100%, 0);
}
100% {
	opacity: 1;
	-webkit-transform: none;
	transform: none;
}
} 

/*=== FADE IN LEFT ===*/
@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}


/*==== FADE IN RIGHT ===*/
@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}

/*=== FADE IN  ===*/
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
.fadeIn {
    -webkit-animation-name: fadeIn;
	animation-name: fadeIn;
}

/*=== FADE IN UP Big ===*/
.fadeInUpBig {
  -webkit-animation-name: fadeInUpBig;
  animation-name: fadeInUpBig;
  }
@-webkit-keyframes fadeInUpBig {
0% {
	opacity: 0;
	-webkit-transform: translate3d(0, 2000px, 0);
	transform: translate3d(0, 2000px, 0);
}
100% {
	opacity: 1;
	-webkit-transform: none;
	transform: none;
	}
}
@keyframes fadeInUpBig {
0% {
	opacity: 0;
	-webkit-transform: translate3d(0, 2000px, 0);
	transform: translate3d(0, 2000px, 0);
}
100% {
	opacity: 1;
	-webkit-transform: none;
	transform: none;
	}
} 

/*=== FADE IN DOWN Big ===*/
.fadeInDownBig {
  -webkit-animation-name: fadeInDownBig;
  animation-name: fadeInDownBig;
}
@-webkit-keyframes fadeInDownBig {
0% {
	opacity: 0;
	-webkit-transform: translate3d(0, -2000px, 0);
	transform: translate3d(0, -2000px, 0);
}
100% {
	opacity: 1;
	-webkit-transform: none;
	transform: none;
}
}
@keyframes fadeInDownBig {
0% {
	opacity: 0;
	-webkit-transform: translate3d(0, -2000px, 0);
	transform: translate3d(0, -2000px, 0);
}
100% {
	opacity: 1;
	-webkit-transform: none;
	transform: none;
}
} 

/*=== FADE IN LEFT Big ===*/
.fadeInLeftBig {
  -webkit-animation-name: fadeInLeftBig;
  animation-name: fadeInLeftBig;
}
@-webkit-keyframes fadeInLeftBig {
0% {
	opacity: 0;
	-webkit-transform: translate3d(-2000px, 0, 0);
	transform: translate3d(-2000px, 0, 0);
}
100% {
	opacity: 1;
	-webkit-transform: none;
	transform: none;
}
}
@keyframes fadeInLeftBig {
0% {
	opacity: 0;
	-webkit-transform: translate3d(-2000px, 0, 0);
	transform: translate3d(-2000px, 0, 0);
}
100% {
	opacity: 1;
	-webkit-transform: none;
	transform: none;
}
} 

/*=== FADE IN RIGHT Big ===*/
.fadeInRightBig {
  -webkit-animation-name: fadeInRightBig;
  animation-name: fadeInRightBig;
  }
@-webkit-keyframes fadeInRightBig {
0% {
	opacity: 0;
	-webkit-transform: translate3d(2000px, 0, 0);
	transform: translate3d(2000px, 0, 0);
}
100% {
	opacity: 1;
	-webkit-transform: none;
	transform: none;
}
}
@keyframes fadeInRightBig {
0% {
	opacity: 0;
	-webkit-transform: translate3d(2000px, 0, 0);
	transform: translate3d(2000px, 0, 0);
}
100% {
	opacity: 1;
	-webkit-transform: none;
	transform: none;
}
}

 /* End Page css */
 
/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */ 

@media (min-width: 768px){	
 .container {max-width: 620px;}
}

@media (min-width: 992px) {
   .container { max-width: 920px;}
   .header{height: 60px;}
   .header a.logo img {height: 60px;}	 
}

@media (min-width: 1200px){
  .container { max-width: 1140px;}
}

@media (max-width: 992px){
   .header{height: 40px;}
   .header a.logo img {max-width: 100%;height: 50px;}
   .header-right {float:right;}
   .header-right .nav li{padding: 5px 0px;height: 40px;}
   .header-right .nav li ul.gn-menu li{height: 40px;line-height: 30px;   }
   .header-right .nav li ul.gn-menu {top: 40px;}
   .header-right .nav li ul.sub-menu li{ min-height: 20px;height: auto;line-height: 18px;}
   .header-right a{color:#111}
   .introContent{ padding-bottom: 2%;}
   .introContent .introPara{margin-bottom: 2%;}
   .containDiv .iframe {padding-top: 20px;}
   .title{min-height: 30px;padding: 0px 10px;width: 90%;} 
   .skew {min-height: 30px; padding: 5px 1px;line-height: 20px;}
   .skew span{top: 5px;}
   .containDiv .back,.containDiv .next{position:absolute;    top:150px;}
   .contentBg{padding:10px 0px 10px 0px;margin: 0px 20px;}
   .contentDiv{min-height: 180px; overflow-y:auto;-webkit-overflow-scrolling: touch;}
   .contentLeftDiv{width:50%;display:inline-block;min-height: 180px;height:260px;}
    .popupImgRightBg {width:50%;display:inline-block;}
   .contentImgDiv{min-height: 60px; overflow-y:auto;-webkit-overflow-scrolling: touch;}
   .contentWithOutBdr {min-height: 60px;height:20%;}
   .popupBg{ min-height:120px;overflow-y:auto;-webkit-overflow-scrolling: touch;padding:10px;}
   .popupImgBg{ margin: 10px auto;min-height:100px;}
   .popupImgBg img{height:auto;}
   .popupImgRightBg img,.popupImgRightBg .imgRight,.imgRight{ width:85%; }
    .popupVideoBg video { width:540px;}
} 

@media (max-width: 767px) and (orientation :  landscape){
	body{  font-size: .9em;}
	.introContent .introPara{font-size: 1.9em;}
	.header { height: 30px;}
	.header a.logo img {max-width: 100%;height: 40px;}
	.header-right {float:right;}
	.header-right .nav li{padding: 0px 0px;height: 30px;line-height: 30px;}
	.header-right img, .header-right .nav li img {width: 25px;
    height: 20px; margin: 0px 5px;}
	.header-right .nav li ul.gn-menu {top: 30px;width: auto;}
	.header-right .nav li ul.gn-menu li{height: 30px;line-height: 20px; } 
	.header-right .nav li ul.sub-menu {min-height: auto;height:auto;max-height: 200px;overflow-y: auto;}
	.header-right .nav li ul.sub-menu li{ min-height: 20px;height: auto;line-height: 18px;}
	.containDiv .iframe {padding-top: 5px;}
	.title{font-size: 1.1em;min-height: 30px;padding: 0px 5px 0px 15px;width: 100%;} 
	.titleLine {width: 90%;}
	.skew{ min-height: 30px;padding: 5px 1px;line-height: 20px;}
	.skew span{top: 5px;}
    .containDiv .back,.containDiv .next{position:absolute;top:150px;}
    .contentBg{padding:10px 0px 10px 0px; margin: 0px 0px;}
    .contentDiv{min-height: 180px; height: 200px;-webkit-overflow-scrolling: touch;}
	.contentLeftDiv{width:50%;display:inline-block;min-height: 180px; height: 200px;}
    .contentImgDiv{min-height: 60px;}
    .contentWithOutBdr {padding: 0px;min-height: 30px;height:10%;}
    .popupBg{min-height: 100px;max-height: 243px;overflow-y:auto;
    -webkit-overflow-scrolling: touch;padding:10px;}
    .popupImgBg{ margin: 10px auto;min-height:100px;}
    .popupImgBg img{height:auto;}	
	.popupImgBg img,.popupImgBg .imgBottom{ width: 60%;}
    .popupImgRightBg{width:50%;display:inline-block; margin: 10px auto;}
	.popupImgRightBg img,.popupImgRightBg .imgRight,.imgRight{width:85%;}
	.popupVideoBg{ width: 100%; padding:0px;  text-align:center;margin: 10px auto;   min-height:160px;height:auto;}
    .popupVideoBg video { width:400px;max-width: 100%;height: auto;}
	
    .quizContentDetail .ques-block{ min-height: 360px;height: auto; overflow-y: auto;}
	.quizContentDetail { padding: 0px 5px 0px 5px;    font-size: 0.95em;}
    .quizContentDetail .quesQuizType { padding-top: 0px;    min-height: 170px;}
	.quizContentDetail .instruction {font-size: .9em;}
	.quizContentDetail .quesBg {padding: 0px 10px 0px 0px;}
	.quizContentDetail .ansBg{padding: 0px 10px 5px 0px;}
	.quizContentDetail .ansBg .mcqAnsDiv .mcqAns {padding: 0px 0px; min-height: 25px; height: auto;}
	.quizContentDetail .ansBg .mcqAnsDiv .checkBox{ padding: 0px 0px; min-height: 25px;height: auto; }
	.quizContentDetail .ansBg .mcqAnsDiv .checkBox label {padding: 0px; top: -4px;   font-size: 0.95em;    margin-bottom: 0px;}
	.quizContentDetail .ansBg{    height: auto;overflow: none; }
	 .quizContentDetail .btnBg .btn, .quizContentDetail .btnBg .btnImg {width: 80px;    padding: .12rem .1rem;    font-size: .8rem;}
	 .quizContentDetail input[type=checkbox], .quizContentDetail input[type=radio] { padding: 5px; width: 18px; height: 18px;}

} 


@media (max-width: 569px) and (orientation :  landscape){
  .container { max-width: 470px;}
  .header { height: 30px;}
  .header a.logo img {max-width: 100%; height: 40px;}
  .header-right { float:right;}
  .header-right .nav li{padding: 0px 0px;height: 30px;line-height: 30px;}
  .header-right img, .header-right .nav li img {width: 25px; height: 20px; margin: 0px 5px;}
  .header-right .nav li ul.gn-menu {top: 30px;width: auto;}
  .header-right .nav li ul.gn-menu li{height: 30px;line-height: 20px; } 
  .header-right .nav li ul.sub-menu {min-height: auto;height:auto;max-height: 200px;overflow-y: auto;}
  .header-right .nav li ul.sub-menu li{ min-height: 20px;height: auto;line-height: 18px;}
  .containDiv .iframe {padding-top: 5px;}
  .title{min-height: 30px;padding: 0px 5px 0px 15px;width: 100%;}
  .titleLine {width: 85%;}
  .skew {min-height: 30px;padding: 5px 1px;line-height: 20px;}
  .skew span{top: 5px;}
  .containDiv .back,.containDiv .next{position:absolute;top:150px;}
  .contentBg{padding:10px 0px 10px 0px; margin: 0px 0px;}
  .contentDiv{min-height: 180px; height: 200px;overflow-y: scroll;
    -webkit-overflow-scrolling: touch;}
  .contentLeftDiv{width:50%;display:inline-block;min-height: 180px;height: 200px;}
  .contentImgDiv{min-height: 60px; height: 60px; }
  .contentWithOutBdr {  padding: 0px;  min-height: 30px;height:10%;}
  .popupBg{ min-height:90px;    max-height: 120px; padding:10px; }
  .popupImgBg{ margin: 10px auto;min-height:100px;height:120px;}
  .popupImgBg img,.popupImgBg .imgBottom{ width: 60%;}
  .popupImgBg img{height:auto;}
  .popupImgRightBg img,.popupImgRightBg .imgRight,.imgRight{width:85%; }
  .popupVideoBg video { width:200px;max-width: 100%;height: auto;}
  .quizContentDetail .quesQuizType { padding-top: 0px;    min-height: 170px;}
  .quizContentDetail .ansBg .mcqAnsDiv .mcqAns {padding: 2px 0px; min-height: 25px; height: auto;}
	.quizContentDetail .ansBg .mcqAnsDiv .checkBox{ min-height: 25px; height: auto;}
   
}
@media (max-height: 480px) and (orientation :  landscape){


  .contentImgDiv{min-height: 60px; height: 60px; }
  .contentWithOutBdr {  padding: 0px;  min-height: 30px;height:10%;}
  .popupBg{max-height: 160px;}
  .popupVideoBg {margin: 0px auto; min-height: 60px;height: 90%;overflow-y: auto;}
  .popupVideoBg video { max-width: 100%;height: auto;}
  .quizContentDetail .quesQuizType { padding-top: 0px;  min-height: 160px;
    height: 170px;}
	.quizContentDetail .ansBg .mcqAnsDiv .mcqAns {padding: 2px 0px; min-height: 25px; height: auto;}
	.quizContentDetail .ansBg .mcqAnsDiv .checkBox{ min-height: 25px; height: auto;}
   
}


@media (max-width: 767px) and (orientation :  portrait){
	/* body,html{
    overflow-y: auto !important; 
  }	 */
    body{  font-size: .9em;}
	.container {width: 80%;}
	.introContent .introPara{font-size: 1.9em;}
	.header { height: 30px;}
	.header a.logo img {max-width: 100%;height: 30px;}
	.header-right {float:right;}
	.header-right .nav li{padding: 0px 0px;height: 30px;line-height: 30px;}
	.header-right img, .header-right .nav li img {width: 25px;
    height: 20px; margin: 0px 5px;}
	.header-right .nav li ul.gn-menu {top: 30px;    width: auto;}
	.header-right .nav li ul.gn-menu li{min-height: 30px;height:auto;line-height: 20px; } 
	.header-right .nav li ul.sub-menu {min-height: auto;height:auto;max-height: 320px;overflow-y: auto;}
	.header-right .nav li ul.sub-menu li{ min-height: 20px;height: auto;line-height: 18px;}
	.containMainDiv{padding:0px 2px}
	.containDiv .iframe {padding-top: 10px;}
	.titleLine {width: 85%;}
	.title{ font-size: 1.1em;min-height: 30px;height:auto;padding: 0px 5px 2px 15px;width: 100%;} 
	.skew{ min-height: 30px;padding: 5px 1px;height:auto;line-height: 18px;}
	.skew span{top: 5px;    min-height: 30px;}
	
    .containDiv .back,.containDiv .next{position:absolute;top:150px;}
    .contentBg{padding:10px 0px 10px 0px; margin: 0px 0px;}
    .contentDiv{min-height: 180px; height:auto; overflow-y: scroll;
    -webkit-overflow-scrolling: touch;}
	.contentLeftDiv{width:100%;display:block;min-height: 180px;height: auto;}
    .contentImgDiv{min-height: 60px;height:auto;}
    .contentWithOutBdr {padding: 0px;min-height: 30px;height: auto;}
    .popupBg{min-height:120px;max-height:92%;overflow-y:auto;padding:10px;}
    .popupImgBg{ margin: 10px auto;min-height:100px;height:auto;}
    .popupImgBg img{height:auto;}	
	.popupImgBg img,.popupImgBg .imgBottom{ width: 100%;}
    .popupImgRightBg{width:100%;display:block; margin: 10px auto;}
	.popupImgRightBg img,.popupImgRightBg .imgRight,.imgRight{width:85%;}
	.popupVideoBg{ width: 100%; padding:0px;  text-align:center;margin: 10px auto;   min-height:160px;height:auto;}
    .popupVideoBg video { width:320px;max-width: 100%;height: auto;}
	
	.quizContentDetail { padding: 0px 5px 0px 5px;    font-size: .9em;}
	.quizContentDetail .quesQuizType { padding-top: 0px;min-height: 180px;}
	.quizContentDetail .quesBg {padding: 0px 0px 5px 0px;}
	.quizContentDetail .ansBg{padding: 0px 0px 5px 0px;}
	.quizContentDetail .ansBg .mcqAnsDiv .mcqAns {padding: 2px 0px; min-height: 25px; height: auto;}
	.quizContentDetail .ansBg .mcqAnsDiv .checkBox{ min-height: 25px; height: auto;}
	.quizContentDetail .ansBg .mcqAnsDiv .checkBox label {padding: 0px;top: -4px;  font-size: .9em;}
	.quizContentDetail .ansBg{    height: auto;overflow: none; }
	 .quizContentDetail .btnBg .btn, .quizContentDetail .btnBg .btnImg {width: 80px;    padding: .12rem .1rem;    font-size: .8rem;}
	 .quizContentDetail input[type=checkbox], .quizContentDetail input[type=radio] { padding: 5px; width: 18px; height: 18px;}

} 