/* CSS Document */

/*###############loader######################*/
	
.loadBg{
background-color: rgba(59, 67, 84, 0.8);
/*background-color: #fff;*/
position:fixed;top:0;left:0;
width: 100%;
height:100%;overflow:hidden;
z-index:9001;

 display:none;
 text-align: center;}
/* #overlayBlur{
 width: 100%;
height:100%;
 position: absolute;z-index:9002;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;

  background:black;
  background:rgba(0,0,0,0.8);

  filter:blur(4px);
  -o-filter:blur(4px);
  -ms-filter:blur(4px);
  -moz-filter:blur(4px);
  -webkit-filter:blur(4px);
  }*/
.loadDiv{position:relative; top:40%;text-align: center;z-index:9003;}
.loadImg{text-align: center;}
.loadText{color:#fff;text-align: center;
font-size: 16px; 
/*  font-family: Georgia; */
vertical-align: middle;
padding-top:20px;
}
@media (max-width: 980px){
.loadDiv{position:relative; top:20%;text-align: center;}
}


